# بسم الله الرحمن الرحيم

## Day-02
### Session-01

In [1]:
name = 'I study Python at ITI'

In [2]:
name.lower()

'i study python at iti'

In [3]:
name.upper()

'I STUDY PYTHON AT ITI'

In [4]:
name.capitalize()

'I study python at iti'

In [5]:
name.title()

'I Study Python At Iti'

In [6]:
name

'I study Python at ITI'

In [7]:
id(name)

1372877740032

In [8]:
x = 'ali'

In [9]:
id(x)

1372904850864

In [10]:
x = 'M'

In [11]:
id(x)

1372805851120

In [14]:
n = 'ali'

In [15]:
id(n)

1372905119408

In [16]:
m = 'ali'

In [17]:
id(m)

1372905119408

In [18]:
id(1)

140703873671568

In [19]:
id(350)

1372892119856

In [20]:
id(2019)

1372892119984

In [21]:
hash(1)

1

In [22]:
hash('omar')

2054350495824746048

In [23]:
id(1000000)

1372892120304

In [28]:
order = "Go read info about his work info in"

In [25]:
order.replace('info', 'ITI')

'Go read ITI about his work ITI in'

In [29]:
order.replace('info', 'ITI', 1)

'Go read ITI about his work info in'

## Swapping

In [ ]:
a, b = 1, 2

In [31]:
a, b = b, a

In [32]:
a

2

In [33]:
b

1

In [34]:
# Unpacking
digits,containDigits = "0102002932", "Tel0102002932"

In [35]:
digits.isdigit()

True

In [36]:
containDigits.isdigit()

False

In [40]:
'My name is: {}'.format('Haitham')

'My name is: Haitham'

In [42]:
'My name is: {} and I work at: {}'.format('Haitham', 'FCI')

'My name is: Haitham and I work at: FCI'

In [43]:
'My name is: {0} and I work at: {1}'.format('Haitham', 'FCI')

'My name is: Haitham and I work at: FCI'

In [44]:
'My name is: {1} and I work at: {0}'.format('Haitham', 'FCI')

'My name is: FCI and I work at: Haitham'

In [45]:
'My name is: {name} and I work at: {work_at}'.format(name='Haitham', work_at='FCI')

'My name is: Haitham and I work at: FCI'

In [46]:
'My name is: {name} and I work at: {work_at}'.format(work_at='FCI', name='Haitham')

'My name is: Haitham and I work at: FCI'

In [47]:
name = 'Haitham'
work_at = 'FCI'

In [48]:
f'My name is: {name} and I work at {work_at}'

'My name is: Haitham and I work at FCI'

In [49]:
type(3)

int

In [50]:
type(3.)

float

In [51]:
type(.3)

float

SyntaxError: invalid syntax (<ipython-input-52-be29e4431175>, line 1)

In [53]:
a = complex(1,2)

In [54]:
b = complex(3,4)

In [55]:
a + b

(4+6j)

In [56]:
x = 4.4

AttributeError: 'float' object has no attribute 'floor'

In [59]:
import math

In [60]:
math.floor(4.4)

4

In [61]:
math.ceil(4.1)

5

In [62]:
round(3.5)

4

In [64]:
round(4.5)

4

In [66]:
round(4.500001)

5

## Collections
### Lists

In [68]:
x = list()

In [69]:
type(x)

list

In [71]:
z = []

In [72]:
type(z)

list

In [73]:
z = [1,2,3,4,5]

In [74]:
len(z)

5

In [75]:
z.append([11,12,13])

In [76]:
len(z)

6

In [77]:
z

[1, 2, 3, 4, 5, [11, 12, 13]]

In [78]:
for item in z:
    print(item)

1
2
3
4
5
[11, 12, 13]

In [79]:
z.pop()

[11, 12, 13]

In [80]:
z.extend([11,12,13])

In [81]:
z

[1, 2, 3, 4, 5, 11, 12, 13]

In [82]:
len(z)

8

In [83]:
for item in z:
    print(item)

1
2
3
4
5
11
12
13

In [84]:
my_tuple = tuple()

In [85]:
type(my_tuple)

tuple

In [87]:
my_tuple = ()

In [88]:
my_tuple[0]

IndexError: tuple index out of range

In [89]:
my_tuple = (1,2,3)

In [92]:
my_tuple = 1,2,3

In [93]:
my_tuple[0]

1

In [94]:
my_tuple[0] = 'ITI'

TypeError: 'tuple' object does not support item assignment

In [95]:
m_list = [1,2,3]

In [96]:
m_tuple = tuple(m_list)

In [97]:
type(m_tuple)

tuple

In [98]:
m_tuple

(1, 2, 3)

In [99]:
m_tuple[0] = 'ITI'

TypeError: 'tuple' object does not support item assignment

In [100]:
m_list[0] = 'ITI'

In [101]:
m_tuple = list(m_tuple)

In [102]:
type(m_tuple)

list

In [103]:
m_tuple[0]

1

In [104]:
m_tuple[0] = 'ITI'

In [105]:
m_tuple

['ITI', 2, 3]

### Dictionary

In [107]:
my_dict = {'Track': 'IoT', 'Course': 'Linux Admin I'}

In [108]:
my_dict.keys()

dict_keys(['Track', 'Course'])

In [109]:
my_dict.items()

dict_items([('Track', 'IoT'), ('Course', 'Linux Admin I')])

In [112]:
# Khaled
my_dict.items();
print(my_dict.items());

dict_items([('Track', 'IoT'), ('Course', 'Linux Admin I')])

In [114]:
my_dict['Name'] = 'Wesam'

In [115]:
my_dict.items()

dict_items([('Track', 'IoT'), ('Course', 'Linux Admin I'), ('Name', 'Wesam')])

In [117]:
#my_dict['Course'] = 'Python'
for k in my_dict.keys():
    print(k, my_dict[k])

Track IoT
Course Linux Admin I
Name Wesam

In [118]:
my_dict.values()

dict_values(['IoT', 'Linux Admin I', 'Wesam'])

In [119]:
my_dict = {'Track': ['IoT'], 'Course': ['Linux Admin I']}

In [122]:
if 'Course' in my_dict:
    my_dict['Course'].append('Python')
else:
    my_dict['Course'] = ['Python']

In [123]:
my_dict

{'Track': ['IoT'], 'Course': ['Linux Admin I', 'Python']}

In [124]:
del(my_dict['Course'])

In [125]:
my_dict

{'Track': ['IoT']}

In [126]:
id(my_dict)

1372904382856

In [127]:
del(my_dict)

In [128]:
id(my_dict)

NameError: name 'my_dict' is not defined

In [129]:
range(0, 10, 1)

range(0, 10)

In [130]:
list(range(0, 10, 1))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [132]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [133]:
list(range(0, 20, 2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [134]:
for i in range(5):
    print('I love Python!')

I love Python!
I love Python!
I love Python!
I love Python!
I love Python!

In [135]:
for i in range(10):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

In [136]:
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [137]:
for i in range(10):
    if i == 5:
        pass
    print(i)

0
1
2
3
4
5
6
7
8
9

## Function

In [138]:
def do_sum(x, y, z):
    return x + y + z

In [142]:
do_sum(1, 2, 3)

6

In [148]:
def do_sum(x, y=6, z=8):
    print(f'x = {x}')
    print(f'y = {y}')
    print(f'z = {z}')
    return x + y + z

In [150]:
do_sum(1)#,2,3)

x = 1
y = 6
z = 8

15

In [151]:
print(1)

1

In [152]:
print(1,2)

1 2

In [153]:
print(1,2,3,4,5,6)

1 2 3 4 5 6

In [168]:
def do_sum(*args, x, y):
    print(f'x = {x}')
    print(f'y = {y}')
    sum = x + y
#     sum = 0
    for i in args:
        sum += i
    print(f'sum = {sum}')

In [171]:
do_sum(1,2,3,4,5,6,7,8,9,0)

TypeError: do_sum() missing 2 required keyword-only arguments: 'x' and 'y'

In [174]:
def do_sum(x,y):
    print(f'x = {x}')
    print(f'y = {y}')
    sum = x + y
    print(f'sum = {sum}')

In [177]:
# keyword Argument
do_sum(y=9,x=1)

x = 1
y = 9
sum = 10

In [178]:
def do_sum(**kwargs):
    for k,v in kwargs.items():
        print(k,v)

In [181]:
do_sum(name='Haitham', course='Python')

name Haitham
course Python

In [194]:
def p_dict(*args):
    for i in args:
        for k,v in i.items():
            print(k,v)

In [197]:
p_dict( {id:1,name:'IoT'} , {id:2, name:'SD'})

<built-in function id> 1
Haitham IoT
<built-in function id> 2
Haitham SD

In [203]:
name = 'Ahmed'
def outer_fn():
    def inner_fn():
        name = 'Ali'
        nonlocal name
        print(name)
    inner_fn()
# print(name)
outer_fn()

SyntaxError: name 'name' is assigned to before nonlocal declaration (<ipython-input-203-c4011c297152>, line 5)

In [204]:
list1 = [1,2,3]

In [206]:
id(list1)

1372899757704

In [207]:
list2 = [1,2,3]

In [208]:
id(list2)

1372900846728

In [209]:
3 == int

False

In [210]:
type(3) == int

True

In [211]:
a,b = 1,2

In [212]:
a

1

In [213]:
b

2

In [215]:
m_list

['ITI', 2, 3]

In [221]:
for idx, item in enumerate(m_list):
    print(idx, item)

0 ITI
1 2
2 3

In [222]:
for idx, item in enumerate(my_dict):
    print(idx, item)

NameError: name 'my_dict' is not defined

In [223]:
import math as m

In [224]:
m.floor(8.5)

8

## File Operations

In [226]:
f1 = open('test.txtt', 'r')

FileNotFoundError: [Errno 2] No such file or directory: 'test.txtt'

In [228]:
try:
    f1 = open('test.txtt', 'r')
except FileNotFoundError:
    print('FileNotFoundError Happened')
    f1 = open('test.txtt', 'w')
except:
    print('Exception Happened')

FileNotFoundError Happened

In [229]:
f1 = open('test.txt', 'r')

In [231]:
f1.read()

''

In [232]:
f1.close()

In [233]:
f1 = open('test.txt', 'r')

In [234]:
f1.read()

'This is Line 01\nThis is Line 02'

In [235]:
f1.read(4)

''

In [236]:
f1.seek(0)

0

In [237]:
f1.read(4)

'This'

In [238]:
f1.read(3)

' is'

In [239]:
f1.readline()

' Line 01\n'

In [240]:
f1.readline()

'This is Line 02'

In [242]:
f1.readline()

''

In [243]:
f1.seek(0)

0

In [244]:
for line in f1:
    print(line)

This is Line 01

This is Line 02

In [245]:
f1.close()

In [246]:
f1 = open('test.txt', 'w')

In [247]:
f1.write('This is Line 01\n')

16

In [248]:
f1.write('This is Line 02\n')

16

In [249]:
f1.write('This is Line 03\n')

16

In [250]:
f1.close()

In [262]:
f1 = open('test.txt', 'rw')

ValueError: must have exactly one of create/read/write/append mode

In [252]:
f1.write('This is in append mode')

22

In [260]:
f1.readlines()

[]

In [261]:
f1.close()

In [263]:
import os

In [264]:
os.getcwd()

'C:\\Users\\helghareeb\\Desktop\\ITI-IoT\\Day-02'

In [265]:
os.getlogin()

'helghareeb'

In [267]:
os.system('notepad.exe')

0

In [271]:
m_str = ' My name is Haitham'

In [269]:
import re

In [272]:
re.match('My', m_str)

In [273]:
re.search('My', m_str)

In [275]:
re.fullmatch(' My', ' My')

In [276]:
with open('test.txt', 'w') as f2:
    f2.write('This line is added using with statement')

In [279]:
a_list = [1,2,3,4,5]

In [284]:
b_list = []
for i in a_list:
    if i % 2 == 0:
        b_list.append(i * 2)
print(b_list)

[4, 8]

In [286]:
c_list = [ i * 2 for i in a_list if i % 2 == 0]
print(c_list)

[4, 8]

In [287]:
a_list = list(range(20))

In [288]:
a_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [289]:
b_list = []
for i in a_list:
    b_list.append(i * 3)
b_list

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57]

In [290]:
# List Comprehension
c_list = [ i for i in a_list ]
c_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [292]:
d_list = [ i * 3 for i in a_list ]
d_list

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57]