# بسم الله الرحمن الرحيم

## Day-01
### Session 01

In [4]:
print('hello, ITI-IoT!')

hello, ITI-IoT!

In [2]:
print('hello'); print('ITI')

hello
ITI

REPL: Read, Eval, Print, Loop

In [5]:
3 is int

False

In [7]:
3 is 3

True

In [8]:
[1,2,3] is []

False

In [9]:
type(3) == int

True

In [10]:
type(3) is int

True

In [12]:
5 in [1,2,3]

False

In [13]:
3 in [1,2,3]

True

In [16]:
# indentation
# Python us indented PL
def f1():
    print('I am a funtion')
print('I am outside function')

I am outside function

In [18]:
f1()

I am a funtion

In [17]:
fn_list = [f1, f1, f1]

In [19]:
for f in fn_list:
    f()

I am a funtion
I am a funtion
I am a funtion

// Empty function in C
int fn (){
}

In [20]:
class Student:
    def __init__(self):
        pass
    
    def study(self):
        pass

In [21]:
class TStudent:
  def __init__(self):
    pass

  def study(self):
    pass

In [22]:
ali = TStudent()

In [23]:
class ITStudent:
   def __init__(self):
      pass

   def study(self):
      pass

In [24]:
omar = ITStudent()

In [28]:
type('Omar')

str

In [29]:
type("Omar")

str

In [30]:
'omar' == "omar"

True

In [31]:
'omar' is "omar"

True

In [33]:
'omar"

SyntaxError: EOL while scanning string literal (<ipython-input-33-6421f075e700>, line 1)

In [34]:
"Omar's Laptop"

"Omar's Laptop"

In [35]:
'Omar\'s Laptop'

"Omar's Laptop"

In [37]:
x = """
Line 01
Line 02
Line 03
Line 4
"""

In [38]:
x

'\nLine 01\nLine 02\nLine 03\nLine 4\n'

In [39]:
print(x) # This line will perform bla bla bla

Line 01
Line 02
Line 03
Line 4

In [40]:
class Student:
    """
    This class will have the following functions:
    fun_a:
    fun_b:
    """
    pass

In [41]:
isStudent = True

In [42]:
isStudent

True

In [43]:
is_student = False

In [44]:
def drive_car():
    pass

In [45]:
type(True)

bool

In [46]:
type(is_student)

bool

In [47]:
type(drive_car)

function

In [48]:
type(ali)

__main__.TStudent

In [49]:
type(omar)

__main__.ITStudent

In [50]:
type(omnia)

NameError: name 'omnia' is not defined

In [51]:
# List is mutable
my_list = [1,2,3]

In [52]:
my_list[0] = 11

In [53]:
my_list

[11, 2, 3]

In [54]:
my_tuple = 1,2,3

In [55]:
type(my_tuple)

tuple

In [56]:
m_tuple = (1,2,3)

In [57]:
my_tuple[0] = 11

TypeError: 'tuple' object does not support item assignment

In [58]:
# Everything is an Object

In [59]:
# Linux: Everything is a File

int, Int -> Java

In [60]:
my_list = [True, is_student, [1,2,3], (4,5,6), ali, omar]

In [61]:
for item in my_list:
    print(item)

True
False
[1, 2, 3]
(4, 5, 6)
<__main__.TStudent object at 0x0000020476A27148>
<__main__.ITStudent object at 0x00000204764F2CC8>

In [62]:
my_dict = {0: 'zero', 'one': 1}

In [63]:
for key in my_dict:
    print(key)

0
one

In [64]:
my_dict[0]

'zero'

In [65]:
my_dict['one']

1

In [67]:
y = 2

In [68]:
y++

SyntaxError: invalid syntax (<ipython-input-68-1340f5a4c386>, line 1)

In [69]:
y += 1

In [70]:
1 < 2 < 3

True

In [73]:
1 < y <= 3

True

## Falsy Values

In [77]:
x = []
if x:
    print('inside if statement')
    for item in x:
        print(item)

In [78]:
x = [1,2,3]
if x:
    print('inside if statement')
    for item in x:
        print(item)

inside if statement
1
2
3

In [79]:
x = []
x == False

False

In [80]:
x is False

False

In [81]:
x

[]

In [82]:
y

3

In [83]:
print(x,y)

[] 3

In [93]:
print('hello,', end='')
print('ITI')

hello,ITI

In [94]:
my_str = 'My name is Khaled and I study Python at ITI-IoT Scholarship'

In [100]:
for letter in my_str:
    print(letter, end='\t')

M	y	 	n	a	m	e	 	i	s	 	K	h	a	l	e	d	 	a	n	d	 	I	 	s	t	u	d	y	 	P	y	t	h	o	n	 	a	t	 	I	T	I	-	I	o	T	 	S	c	h	o	l	a	r	s	h	i	p

## String slicing

In [103]:
my_str[4:8]

'ame '

In [104]:
my_str[:8]

'My name '

In [105]:
my_str[:]

'My name is Khaled and I study Python at ITI-IoT Scholarship'

In [112]:
my_str[8:]

'is Khaled and I study Python at ITI-IoT Scholarship'

In [114]:
my_str[-2:]

'ip'

In [115]:
site = 'www.iti.gov.eg'

In [116]:
site_02 = 'www.cnn.com'

In [119]:
site_02[-3:]

'com'

In [120]:
site_02[:-3]

'www.cnn.'

In [118]:
site_02[-3:0]

''